*.iml
.gradle/
.gradle-user/
.gradle-bootstrap/
.android-user/
.android-cli-stage/
.idea/
local.properties
build/
*/build/
captures/
*.jks
*.keystore
*-bin.zip
*-bin.zip.sha256
commandlinetools-win.zip
